<div class="w-100 h-100 saliz-game d-flex align-items-center justify-content-center">

<div class="board mt-5">

    <div class="counter">
      <p class="m-0 ">{{ timer }}</p>
    </div>



    <img class="logo"  src="assets/logo.png"/>


  @for (row of [0, 1, 2, 3];track row;let rowIndex = $index){
  <div class="row">
    @for (col of [0, 1, 2, 3,4];track col;let colIndex = $index){

      <div class="col mb-3">


        <div class="card game-card" [ngClass]="{'flipped': cards[rowIndex * 5 + colIndex].flipped}"
             (click)="flipCard(rowIndex * 5 + colIndex)">
          <div class="card-body p-0 d-flex justify-content-center align-items-center">
@if(cards[rowIndex * 5 + colIndex].flipped){
  <div class="back">
    <img [src]="cards[rowIndex * 5 + colIndex].image" class="img-fluid">
  </div>
} @else {
  <div class="front">
    {{ (rowIndex * 5 + colIndex)+1}}
  </div>
}




          </div>
        </div>
      </div>
    }
  </div>
  }


</div>






</div>

